[2020-06-03 08:09] taffit commented on #102
I'm sharing the opinion of @Cito and @ddrouin: The columns from the database should be left untouched. I named my primary keys `id` in the database and was completely irritated, that all of a sudden they are some encoded strings. Also, when I get back an entity with `id='aas23af32asd'`, and I want to look that one up in the database, how can I get the real, original `id` of the entry?
I find the a

[2020-06-05 17:24] chrisberks commented on #275
Your globally unique identifier should be able to identify a resource across
your entire database, not just a single table. By default, Graphene does this
by combining the GraphQL type name and database primary key, separated by a
colon, then base64 encoding the resulting string.

Base64 encoding and decoding in the console for demonstration:

Encode:
[code]

Decode:
[code]

This will make your `i

[2020-06-05 17:59] #273 closed

[2020-06-15 21:25] viktor992 commented on #110
@somada141, it seems that `self` is the resolved `User`, so you could use `PostModel.user_id = self.id` to filter the posts.
[code]

[2020-06-17 03:54] skewty opened #279 "PyCharm linter thinks connection property does not exist"
https://github.com/graphql-python/graphene-sqlalchemy/blob/20ecaeadf2144b88555a3daf1a04e31b7f2ff95a/examples/nameko_sqlalchemy/schema.py#L30

Can the class / metaclass (I don't know where it even comes from) be written in such a way that the field is detected by linters?

If someone can point me to where it comes from I can perhaps put together a PR to resolve this.

[2020-06-17 18:47] skewty commented on #279
duplicate of #272

[2020-06-17 18:47] #279 closed

[2020-06-18 03:58] cahna commented on #275
Thank you! I appreciate the explanation, examples, and further reading. This has worked for my use case.

[2020-06-18 03:58] #275 closed

[2020-06-18 13:04] chrisberks commented on #102
My understanding of this issue is that it's not what type foreign keys should be represented as but whether they should be added to the schema at all—in my opinion, they should not be a part of the schema.

A node is an entity with static properties. A `User` has a `name` and a `department` but it does not have a `departmentId`. By adding a `departmentId` field to a `User` then using it to constru

[2020-06-20 00:37] rdemetrescu commented on #211
when you say "wrapping around our returned class" you don't mean you are using the lru_cache multiple times in your project, right?

The lru_cache hack I suggested should be used only once before your SQLAlchemy models are declared. If your model declarations are spread among multiple files, you don't need to write `graphene.Enum.from_enum = lru_cache(maxsize=None)(graphene.Enum.from_enum)` on eac

[2020-06-20 01:43] spacether commented on #211
Yes, I mean one code location for both solutions.
Not multiple locations. Only one location uses lru_cache.

[2020-07-22 19:03] OpenDataAlex opened #280 "Query Generation Issue"
I'm attempting to build a GraphQL API with Hive as part of the backend. Following the documentation I created the following schema:

`class Manufacturer(SQLAlchemyObjectType):
class Meta:
model = ManufacturerModel
interfaces = (relay.Node,)

class Query(ObjectType):
node = relay.Node.Field()
all_manufacturers = SQLAlchemyConnectionField(Manufacturer.connection)`

Which leverages the following SQLA

[2020-07-22 22:30] jnak commented on #280
I believe the issue is with SQLAlchemy since the SQL generation is delegated to SQLAlchemy. You should create a ticket there.

[2020-07-22 22:30] #280 closed

[2020-07-23 17:11] OpenDataAlex commented on #280
Adding this breadcrumb here for those following along: [SQLAlchemy Github Issue]( https://github.com/sqlalchemy/sqlalchemy/issues/5472).  It's an issue with the Hive dialect.

[2020-08-03 07:23] sreerajkksd opened #282 "Document how to use BatchSQLAlchemyConnectionField instead of SQLAlchemyConnectionField for fixing N+1 problem"

[2020-08-04 10:33] sreerajkksd commented on #35
Did we solve this in https://github.com/graphql-python/graphene-sqlalchemy/pull/253 and https://github.com/graphql-python/graphene-sqlalchemy/pull/254 ?

[2020-08-04 23:57] jnak commented on #35
Yes that's available as of [`2.3.0`](https://github.com/graphql-python/graphene-sqlalchemy/releases/tag/2.3.0). See release notes how to enable it. Would love feedback on performance and usability.

[2020-08-05 12:20] sreerajkksd commented on #35
I tested the batching option and it works flawlessly.

I have one more related question:

From the given example, If `user` is meant to return multiple users, then it still continue to iterate on all these users and then there posts to return the data. Can that be solved in anyway ?

To be more clear: can we have selectinload for users than just posts ?

[2020-08-05 19:14] AlexEshoo commented on #256
I was looking for this as well, and I tried the above, but it never seems to even be called... Not sure if any has had success with this, I would really appreciate some guidance. Specifically I would love it if any objects with relationships would automatically add the filter method to the query when the node is being retrieved as a child of another query.

[2020-08-06 10:46] cglacet opened #283 "Question — Is it possible order results according to a function of the input query?"
I've posted the same question on [Stackoverflow](https://stackoverflow.com/q/63249166/1720199), but I though this might be related to your concerns.

Here some selected content from this question:

---

I'm using graphene with sqlalchemy and I have an output object that contains a computed field. The field is computed according to some input query parameters. To simplify, lets consider the computa

[2020-08-06 17:15] gu3sss commented on #58
I have been trying the above suggestion and struggling to succeed. Constantly getting the below,
`Cannot query field \"totalCount\" on type \"TestConnection`

[2020-08-07 18:32] AlexEshoo commented on #58
I had the same requirement to add a `totalCount` and `edgeCount` to the connection object, but also I needed to add a convenience field called `nodes` to the top level of the connection to return the edges without cursors and deep nesting. I ended up achieving it by sub-classing `SQLAlchemyConnectionField`:

[code]

This lets me define my types in the normal way:

[code]

and run queries like:

[c

[2020-08-07 19:01] gu3sss commented on #58
@AlexEshoo Thanks a lot sharing. I was able to finally able to get it to working this morning. Nonetheless, it seems like the value of total count I get is actually before Graphql does a DISTINCT on the resultset. To be clear, if my query fetched 50 matching records from my db and only 20 are unique, I see 50 in total count but only get 20 unique records in result.

[2020-08-15 16:54] anshajk commented on #272
I was facing this issue but I managed to fix it by upgrading to 2.3.0

[2020-08-18 16:08] chrisberks commented on #283
You can use SQLAlchemy's `orm.with_expression` and `orm.query_expression` functions to apply ad-hoc expressions to your query, then use them in the `ORDER_BY` clause.

Add a `query_expression` attribute to your `Thing` model.
[code]

You can now use `with_expression` to pass arbitrary SQL expressions to your queries. The value of the `expr` attribute, on `Thing` objects, will be the result of the

[2020-08-19 14:23] DoctorJohn commented on #248
This just became a chicken-egg problem as the following was stated in graphql-python/graphene#1127

[2020-08-19 22:07] mostafaghadimi commented on #62
How to hide certain fields of foreign key in the same way?

Imagine that we have the following `Post` model which has foreign key to the `User` model.

[2020-08-28 13:32] jnak commented on #248
Thanks for raising this. I don't see any reason for wait for dependent projects to migrate. I commented on the issue you linked to.

[2020-08-28 23:19] himat commented on #29
Is there updated code for SQLAlchemyInputObjectType?
I'm getting an error in `graphene_sqlalchemy/converter.py`
[code]

[2020-08-29 14:13] alonroth opened #284 "Batching & WHERE clause with multi columns"
Thanks for the implementation of batching - it was just what I was waiting for :)

I have a problem to enable batching for a relationship with primaryjoin & secondary settings.

I have this kind of a relationship in my ProjectTenant model:
[code]

When I'm trying to enable batching for this field I'm getting this error:
[code]

SQL Server doesn't support multi-columns in a WHERE IN clause ([ref](h

[2020-09-04 19:36] jnak commented on #284
Batching uses SQLAlchemy's 'selectin' loader under the hood. Assuming your problem stems from the fact that 'selectin' does not work in SQL Server for relationships that have both primary and secondary joins defined, you should open an issue in SQLAlchemy as it's probably something they would want to address there. Let us know how that goes.

[2020-09-04 19:36] #284 closed

[2020-09-05 12:54] alonroth commented on #284
@jnak It makes sense and it's seems that you're right, according to SA docs:

`The only scenario in which selectin eager loading is not feasible is when the model is using composite primary keys, and the backend database does not support tuples with IN, which includes SQLite, Oracle and SQL Server.`

https://docs.sqlalchemy.org/en/13/orm/loading_relationships.html#select-in-loading

[2020-09-06 02:18] aguaguilar commented on #122
Hello, I'm really late but I have a workaround to solve it.

`
class BuyerModel(Base):
    __table__ = Buyer
`

You can use it :-)

[2020-09-08 14:15] sreerajkksd opened #285 "Dicussion: Support mutations in graphene-sqlalchemy"
This is going to be a discussion thread to debate whether it is good to implement mutations in graphene-sqlalchemy. There is definitely a scope for this feature and I think it's useful, so the real question is more towards how to implement it.

We can probably start with creating objects and then later expand to updating the various attributes.

There are discussions around this topic in https://g

[2020-09-09 06:12] eduardomezencio opened #286 "Use with SqlAlchemy classical mapping"
I'm trying to use graphene-sqlalchemy in a project where classical mapping is used (https://docs.sqlalchemy.org/en/13/orm/mapping_styles.html#classical-mappings). I can see in some reports here (https://github.com/graphql-python/graphene-sqlalchemy/issues/130#issuecomment-386870986) that setting Base.query is a needed step to get things working, and there is no declararive base in classical mappin

[2020-09-12 01:49] eduardomezencio commented on #286
Well, after some trial and error (and some basic reading of exception messages, I must admit) I was able to get it working as follows:
When mapping your tables, with the usual method described in sqlalchemy manual:
[code]
you can keep the returned Mapper object in the `__mapper__` field of your class
[code]
and then it seems to work correctly. But it also looks like when creating your `GraphQLView

[2020-09-12 01:49] #286 closed

[2020-09-14 21:27] rmzr7 commented on #121
@jkimbo can we merge #238 in?

[2020-09-16 20:17] flipbit03 commented on #122
@aguaguilar can you clarify?

[2020-09-23 11:28] avbentem commented on #58
@AlexEshoo,

Very nice! However, @neriusmika's simpler approach in https://github.com/graphql-python/graphene-sqlalchemy/issues/58#issuecomment-329379415 of defining just a custom standalone `CountableConnection `, along with (repeatedly 😢) declaring its usage in, e.g.:

[code]

...and the standard:

[code]

...seems to have the added benefit of providing `totalCount` in nested connections as well

[2020-09-24 05:08] jbeard4 opened #288 "2D Array throws an error on GET"
Hello,

I have found that a column declaration like this:

[code]

Which contains a 2D array (as is supported in, for example, Postgresql), yields an error on get:

[code]

Are 2D arrays supported by graphene-sqlalchemy?

Thank you for your help with this.

[2020-09-24 05:38] jbeard4 commented on #288
I think the issue is here: https://github.com/graphql-python/graphene-sqlalchemy/blob/master/graphene_sqlalchemy/converter.py#L241

The SQLAlchemy dimensions property should be checked: https://docs-sqlalchemy.readthedocs.io/ko/latest/core/type_basics.html#sqlalchemy.types.ARRAY.params.dimensions

I would be happy to contribute this fix. Would you accept a patch for this?

Thank you for your time

[2020-09-30 20:17] sabard commented on #163
Would love to see an update to this!

[2020-10-02 20:51] Baddhizm opened #291 "How to set resolver in SQLAlchemyObjectType after declare?"
For example:
[code]

In this case it doesn't work

[2020-10-02 23:32] maquino1985 commented on #285
I've been using this in my fork for about 2 years now.

`class SQLAlchemyMutation(Mutation):
    @classmethod
    def __init_subclass_with_meta__(
            cls,
            model=None,
            create=False,
            delete=False,
            registry=None,
            arguments=None,
            only_fields=(),
            structure: Type[Structure] = None,
            exclude_fields=(),

[2020-10-05 19:04] mRcSchwering opened #292 "`close_all_sessions()` in middleware?"
## tl;dr

When using `graphene_sqlalchemy` with a Postgres connection, does it make sense to add a middleware that closes all sessions at the end of every request?

## Explanation

Hi, I have a fastAPI app and I'm using `graphene_sqlalchemy` to generate an API from database models defined on the declarative base of SQLAlchemy. The database is _postgres_. For testing I am running some pytests again

[2020-10-06 06:44] sreerajkksd commented on #80
resolve_only_args is deprecated in graphene 2.0 as per https://github.com/graphql-python/graphene/blob/master/UPGRADE-v2.0.md. We can do something like this instead:

[code]

[2020-10-11 21:35] DoctorJohn commented on #248
If we were to update this package to support graphene v3, how would we handle the fact that graphene dropped support for dataloaders from the promise library? As far as I understand letting resolvers return promises wont work anymore, thus the following lines were problematic to update:

https://github.com/graphql-python/graphene-sqlalchemy/blob/631513fe42cb0b0613349f17118faabf879107ac/graphene_sq

[2020-10-12 00:34] DoctorJohn commented on #248
Just to let you folks know, I started working on an PR. Got it down to 8 failing tests, 5 of which are related to promises/dataloaders.

[2020-10-13 12:49] adrianschneider94 commented on #35
Hey, I tested #253, however it's targeting Relay, right? At least I couldn't make it work without it.
I guess I reimplemented something that was discussed here before :D
But it works and maybe could be of use for somebody.

https://gist.github.com/adrianschneider94/90f662ffab9dce06e2f291579ad480b7

Usage:

[code]
You can select the loading strategy:
[code]

Best wishes!

[2020-10-14 19:04] mRcSchwering opened #293 "How can I roll back after a database error?"
Hi, I am using this pattern: https://docs.graphene-python.org/projects/sqlalchemy/en/latest/tutorial/#defining-our-models

I noticed that when the database runs into an error, any further queries that want to use the same session are blocked.
_E.g._:

1. Have a postgres database with a table that has a date field and define queries.
2. Now try to query the table and filter for the date.
3. For the

[2020-10-20 16:55] KrishyV commented on #153
After looking through the source code, I found a method to reuse the auto-generated types if you need to reference them.
[code]

This allowed me to reference the enum from my SQLAlchemy models that was converted into a graphene type.

[code]

[2020-11-13 16:02] himat commented on #58
This didn't work for me, I get `AssertionError: The type X doesn't have a connection`

[2020-11-15 20:29] ShantanuJoshi commented on #58
Getting this same issue as well. Exact same model setup

[2020-11-17 15:46] ShantanuJoshi commented on #58
I had this issue because my mappings did not have `Base.query = db_session.query_property()` where db_session is `db_session = scoped_session(sessionmaker(autocommit=False, autoflush=False, bind=engine))` and define the engine in the mapping as well.

[2020-11-17 16:42] ShantanuJoshi commented on #58
Dude figured this out you need the beta version: https://github.com/graphql-python/graphene-sqlalchemy/issues/272

[2020-11-19 00:13] theelderbeever opened #294 "How to use edge and node syntax in many-to-many subfields"
I am trying to build consistency into my api and would like to use teh `edge { node { } }` syntax when connecting Types through a many to many table. I have `ComponentInstanceModel` and `EventInstanceModel` that are connected through an association table (not shown).

[code]

With the above I can query the following. Note that queries in the reverse direction through `allEventInstances` exists too

[2020-11-20 01:10] theelderbeever commented on #294
As an update I am able to get the many-to-many to work as an edge/node structure in one direction by changing `event_instances = List("api_core.graphql.types.EventInstanceType")` to `event_instances = SQLAlchemyConnectionField(EventInstanceType.connection)` but cannot go the other direction due to circular importing. Any suggestions on how to lazy load the other type class and access the `.connect

[2020-11-22 17:06] mattiaverga opened #295 "License missing in pypi sources"
The LICENSE file is missing from Pypi distributed sources, please consider adding it.
Thank you.

[2020-12-02 04:24] valhuber commented on #130
I am having this issue, not with classical mapping.  I adapted [this example](https://github.com/graphql-python/graphene-sqlalchemy/tree/master/examples/flask_sqlalchemy), resulting in [this repo](https://github.com/valhuber/payment_allocation_graphene).

- Database.py contains Base.query = db_session.query_property()

Stacktrace:

`
Traceback (most recent call last):
  File "/Users/val/dev/graph_

[2020-12-04 01:35] valhuber commented on #30
@yoursdearboy Super!!  Your (lambda) solution worked for me using the Dec 2020 version of graphene.

If anyone wants to explore a minimal running version, [code and setup instructions are here](https://github.com/valhuber/payment_allocation_graphene).

[2020-12-23 16:33] nikolaik commented on #248
@DoctorJohn Did you get any further on your PR?

[2021-01-04 15:02] fzondlo commented on #126
Agree with @paunovic on this one. Would be nice if there was an easy way to disable this. Seems like this is adding complexity for the sake of complexity.

[2021-01-05 15:31] skewty commented on #248
Upstream issue 1127 (linked above) to release version 3.0 will be 1 year old later this month.  This issue (248) is now the only remaining project to make it to 3.0 and is blocking upstream AFAIK.

@DoctorJohn which branch / Pull / Merge Request are you working out of?  If it hasn't been formalized with a PR/MR please do so others can assist.  If the remaining issues can be documented in the MR I

[2021-01-06 12:56] lungati commented on #211
I notice sqlalchemy_utils enum is being converted to graphene enum type.
- 1. This section of code is triggered multiple times:
`    def from_enum(
        cls, enum, description=None, deprecation_reason=None
    ):  # noqa: N805
        description = description or enum.__doc__
        meta_dict = {
            "enum": enum,
            "description": description,
            "deprecation_reason"

[2021-01-07 04:10] lungati opened #297 "sqlalchemy-utils enum to graphene type double conversion"
I notice sqlalchemy_utils enum type is being converted to graphene enum type.

This section of code is triggered multiple times:
`def from_enum( cls, enum, description=None, deprecation_reason=None ): # noqa: N805 description = description or enum.__doc__ meta_dict = { "enum": enum, "description": description, "deprecation_reason": deprecation_reason, } meta_class = type("Meta", (object,), meta_di

[2021-01-07 07:12] lungati commented on #297
Think I found the solution https://github.com/graphql-python/graphene-sqlalchemy/pull/98

[2021-01-07 07:12] #297 closed

[2021-01-07 07:13] lungati commented on #211
Think I found the solution https://github.com/graphql-python/graphene-sqlalchemy/pull/98

[2021-01-08 23:21] JBrVJxsc commented on #102
I used this way to make sure the Integer primary key keeps as Integer:

`@convert_sqlalchemy_type.register(SmallInteger)
@convert_sqlalchemy_type.register(Integer)
def convert_column_to_int_or_id(type, column, registry=None):
    return Int`

[2021-01-13 08:43] ShantanuJoshi commented on #130
Is your Base.query = db_session.query_property() in the same module as your mapping?

[2021-01-13 19:41] valhuber commented on #130
Thanks for getting back... I will check

[2021-02-02 08:57] cglacet commented on #27
Is there a reason for not having an offset? Is using `offsets` instead of `after` considered bad practice? (I'm asking because I see offsets being used everywhere in GraphQL examples).

[2021-02-03 19:50] duboisj-illuminate commented on #186
This is somewhat old but still open.  Has there been any additional development to support this in graphene-sqlalchemy, or are there authorization patterns the community has settled on as workable?

[2021-02-09 03:22] annshress commented on #96
Hi there! Do we have a better way to achieve this, now? apart from doing `if...else if`.

[2021-02-22 20:58] jbvsmo commented on #257
This still doesn't work for me with the error:

`Exception: NonNull could not have a mounted String() as inner type. Try with NonNull(String).`

Trying with `NonNull(String)` give another error

`AssertionError: Can only create NonNull of a Nullable GraphQLType`

[2021-02-23 12:36] jbvsmo commented on #257
The above error happens when I set `primary_key=True` on the column.
I don't see why an UUID could not be the primary_key, but seems like this is an issue with graphene-sqlalchemy treating as string, since the model works fine

[2021-02-26 02:04] abisek commented on #122
I ran into similar issue. I use `graphene-sqlalchemy` too but it may be a more common problem in sqlalchemy. It happens with two worded model names - FraudSignature, BuyerModel, etc. I had to explicitly define the relationship in models referring to two or more worded models. Similar associations with models with single word works.

[code]

[2021-03-06 22:23] klintan commented on #153
Oh man this really needs to be documented somewhere. Wasted too much time on this and separately found this exact solution.

Thanks for sharing it!!

[2021-03-07 09:56] smentek commented on #27
As I understand the idea is to follow [relay specification](https://relay.dev/docs/en/graphql-server-specification) that has advantage of opaque cursors, where when using limit/offset you end up jumping over the data or having them twice in the response.

[2021-03-09 10:20] cglacet opened #300 "Question — Is this the right way for adding a field that depend on a relationship?"
I have a naive question but I don't know the words to search for. I'm sure this has been asked one million times but I'm clueless.

I have some blog posts with likes on them and I would like to query a list of blog posts with a flag on each post to tell wether the given user liked the post or not.

My current solution:

* I added a field in my schema (under `schema.Blog.has_user_liked`)
* I added

[2021-03-10 17:56] chrisberks commented on #300
You can use a Dataloader for this.

I'm assuming the `userId` you'd be passing to the `hasUserLiked` field is the currently authenticated/logged in user. If that's the case you can use the `authenticated_userid`, or equivalent in your framework, instead. This would mean you can remove the `userId` input from the `hasUserLiked` field.

[code]

[code]
You'd probably want to create your [Dataloader p

[2021-03-11 11:03] chrisberks commented on #293
How are you passing the invalid type to the query? GraphQL should guard against this.

[2021-03-11 18:27] mRcSchwering commented on #293
That's true. So, that might be another issue. My code looked like this:

[code]

[2021-03-12 13:02] chrisberks commented on #293
Ah. I understand now, thanks for clarifying.

It looks like *graphene-sqlalchemy* converts `sqlalchemy.types.Date` and `sqlalchemy.types.Time` to `graphene.String` rather than the GraphQL scalar types `graphene.Date` and `graphene.Time`.

If I'm right, that this is what's causing the problem, a quick fix might be to use `ORMField` to override the `date` field's type.

How are you implementing your

[2021-03-16 18:47] chrisberks commented on #300
I forgot to point out the benefit of using the Dataloader.

By using the Dataloader there will only be two SQL queries, one to get the `blogs` and one to resolve the `hasUserLiked` field for each blog—however many there are.

As you're using Starlette you may want to use [aiodataloader](https://github.com/syrusakbary/aiodataloader) (Asyncio DataLoader).

[2021-03-17 06:00] seanxlliu commented on #285
@maquino1985 This a good example and good start. Maybe we can work together on a PR.

[2021-03-17 18:33] cglacet commented on #300
@chrisberks oh, I see. Indeed I totally missed that part, glad I asked for clarifications 😄.

I'll need to spend a bit of time to investigate this, but it looks like its exactly what I was looking for. Thanks!

[2021-03-17 23:01] chrisberks commented on #294
Remove the following lines from your `SQLAlchemyObjectType`s:
[code]

Then add a `sqlalchemy.orm.relationship` to either of your models with a `backref`.

`graphene-sqlalchemy` with generate the correct connection fields.

[code]

[2021-03-18 12:40] cglacet commented on #137
What about [graphene-sqlalchemy-filter](https://github.com/art1415926535/graphene-sqlalchemy-filter)? That seems to achieve what you need, no?

[2021-03-23 19:12] matheushent commented on #215
This answer was pretty useful for me. Thanks a lot!

[2021-03-23 19:12] matheushent commented on #215
This answer was pretty useful for me. Thanks a lot!

[2021-03-24 19:46] ShantanuJoshi opened #302 "Latest Graphene Library, Assertion Error on same Enum in Multiple SQL Alchemy Columns"
Hi everyone I know there are quite a few issues documented regarding the assertion error that occurs as a result of the same enum being utilized in two different SQL alchemy mappings with the same column name. I've read through https://github.com/graphql-python/graphene-sqlalchemy/issues/208, as well as this PR: https://github.com/graphql-python/graphene-sqlalchemy/pull/210 which in theory should

[2021-03-28 11:43] chrisberks commented on #302
Create a [GraphQL Interface](https://docs.graphene-python.org/en/latest/types/interfaces/) (`Job`) that includes the `jobStatus` field, explicitly specifying the enum type.

Now have both `SavedJob` and `MatchedJob` implement it.
[code]
[code]

[2021-04-01 15:47] ShantanuJoshi commented on #302
Thanks @chrisberks! This approach worked for me!

[2021-04-01 15:47] #302 closed

[2021-04-07 13:38] Salamek commented on #15
@anisjonischkeit Just probably late answer to your Q (and help anyone who google this as i did), i had similar problem with hybrid property that returned boolean, but graphene-sqlalchemy was casting it to string (`"true"` instead of `true`).
Only thing i had to do is set query return type in SQLAlchemyObjectType `is_managed = graphene.Boolean()`:

[code]

After this i get correct `is_managed: true

[2021-04-07 17:34] cglacet commented on #140
Strange, I have a piece of code that used to work but doesn't anymore, I wonder what changed here (I also used `Geography`). I never wrote any code to do conversion.

[2021-04-14 17:52] wkevwang commented on #288
Facing this as well. Merging into the main repo would be really helpful!

[2021-04-14 18:10] jbeard4 commented on #288
@wkevwang This project is not maintained. I recommend using [PostGraphile](https://www.graphile.org/postgraphile/) instead.

[2021-04-18 13:35] cglacet commented on #211
I feel like sqlalchemy is building things when `Enum(e)` is read for the first time. So if we use two columns with this type it will fail the second time.

[code]

Does crash. While

[code]

Works fine. If you have an enum declaration next to your model you can even do:

[code]

[2021-04-25 04:40] jbvsmo opened #303 "Remove requirement to singledispatch for python >= 3.4"
It is very weird that this library is being used. It is 6 months old and zero stars on github (https://github.com/jaraco/singledispatch).
Also this lib emits a warning regarding collections.abc

The functionality was added to functools on python 3.4 and so this should be a conditional requirement for people stuck in older unsupported python versions. Same thing was done to `enum` so please do the

[2021-04-27 17:55] zacharyarnaise commented on #121
Seconded. This makes finding the root causes of errors troublesome.

[2021-05-02 08:54] zsiciarz commented on #248
We at Emplocity are willing to collaborate on compatibility with graphene 3. We haven't contributed to the graphene ecosystem before, but we're heavy users of the 2.x versions of libraries and are quite familiar with them. I took a look at @DoctorJohn's PR and got the tests to run (not pass, that would be too much to ask ;) ). There appears to be a few points that need a decision:

 - Python 2 sup

[2021-05-03 08:32] UjinT34 opened #304 "Tests fail with SQLAlchemy 1.4"
Tests fail with SQLAlchemy 1.4:

[code]

https://github.com/sqlalchemy/sqlalchemy/commit/f07e050c9ce4afdeb9c0c136dbcc547f7e5ac7b8

The library itself seems to work fine with batching disabled.

[2021-05-03 12:13] thorin072 opened #305 "How fix error: “Expected value of type \”*GQL\“ but got: *.”?"
Hello!
At the data schema level in SQLAlchemy, all tables are linked through a relationship.  I have the following GraphQL data schema:
[code]
I also implement this resolver. I got the error: Received incompatible instance, if I didn't use lambda with the first parameter graphene.List():
[code]
I get this answer:

[code]
I tried different ways. I changed the names of the tables in lambda: graphene

[2021-05-03 18:22] zsiciarz commented on #248
The benchmarks fail due to BatchSQLAlchemyConnectionField. If I remove or comment out
[code]
all the benchmarks pass. This again relies on batching, which uses promises in 2.x and should be updated for aiodataloader. I'm not sure if that's within the scope of graphene-sqlalchemy. Though avoiding the N+1 problem would be desirable.
Using aiodataloader would possibly require SQLAlchemy 1.4 which [in

[2021-05-04 08:20] chrisberks commented on #305
[code]

[2021-05-04 09:28] thorin072 commented on #305
@chrisberks Chris, thank you! I realized my mistake, and complicated the resolver. Let me ask you one more question: can I change advanced_search so that I can run queries like this:
[code]
  Or is it easier to write a separate resolver?

[2021-05-04 10:42] chrisberks commented on #305
It's hard to say without understanding the structure of the data. How are `events` related to `doop` ... or is a `resource` either a `doop` or an `event`?

[2021-05-04 11:30] thorin072 commented on #305
@chrisberks I'll make some specifics: the `DOOP` table is linked to the` Event `table via the `Attachments` table. In the `Аttachment` table, the keys id_doop and id_event exist, there are also connections via GraphQL.

[2021-05-04 13:36] zsiciarz commented on #248
We've managed to resolve all test failures except those related to batching and dataloader. The draft PR is here: https://github.com/graphql-python/graphene-sqlalchemy/pull/306.

[2021-05-04 16:08] chrisberks commented on #305
If I'm understanding what you're trying to do, you can achive this with a `Union`. See [Search all Models with Union](https://docs.graphene-python.org/projects/sqlalchemy/en/latest/examples/#search-all-models-with-union) in the docs.
Let me know if this isn't what you had in mind.

[2021-05-05 20:47] thorin072 commented on #305
@chrisberks Today I made an attempt to rewrite the filter. I found that for the request format I needed, I needed to use the interface. Following the instructions https://docs.graphene-python.org/en/latest/types/interfaces/ I implemented the following class:
[code]
Right now, the resolver looks like this:
[code]
I also noticed a bug that the answer contains 2 objects at the time of the request: `d

[2021-05-05 21:27] chrisberks commented on #305
Is the `getAllResources` field supposed to return all the `DOOP`s that match the arguments, plus the `Event`s that are related to each `DOOP`?

[2021-05-05 21:48] thorin072 commented on #305
@chrisberks The technical specification for this resolver was as follows:
[code]
I have formed a request body for the` Event` table, and the resolver takes this form:
[code]
In fact we are based on three parameters and use them to filter the tables and return all the results that were found

[2021-05-07 13:22] chrisberks commented on #305
I'm not sure the `getAllResources` field makes sense from a GraphQL perspective. This structure implies that there is some concrete type `Resource` that has a `List` of doops, a `List` of events and a `List` of projects associated with it.

From what I can see, we want to return a list of `Resource`s that match our search/filter criteria. A `Resource` in this case is one of the following: `DOOPGQL

[2021-05-07 16:26] thorin072 commented on #305
@chrisberks Chris, I would like to thank you very much for your help, I can say that you led me by the hand through the documentation. A very interesting thing:  `.get_query(info)` I didn't know about it. Finally, I figured out the Union and how to work with them correctly. The resolver works exactly as intended. Thank you again and good luck!

[2021-05-07 16:26] #305 closed

[2021-05-07 19:21] JBrVJxsc commented on #182
having the same issue here as well ```         from graphene_sqlalchemy.converter import convert_sqlalchemy_type
     ../build/lipy-graphql-sqlalchemy/environments_3.6/satellites/python/lib/python3.6/site-packages/graphene_sqlalchemy/__init__.py:1: in <module>
         from .types import SQLAlchemyObjectType
     ../build/lipy-graphql-sqlalchemy/environments_3.6/satellites/python/lib/python3.6/sit

[2021-05-07 19:35] adam-discover commented on #248
Hi, what's the status on getting this PR in? I've got a project which unfortunately requires graphene-sqlalchemy and graphene-pydantic. All packages involve require different graphene/pydantic/starlette versions since graphene-sqlalchemy doesn't support v3 yet

[2021-05-08 08:47] chrisberks commented on #305
Thank you for that @thorin072, happy to help!

[2021-05-09 19:35] samscott89 commented on #186
We have an example of doing authorization with sqlalchemy-oso and graphene in [this blog post](https://www.osohq.com/post/graphql-authorization-graphene-sqlalchemy-oso).

This adheres to the "do it at the business layer" principle that the docs recommend, and might be helpful for folks who don't want to insert a ton of additional code into their graphql api.

We'd love to get feedback from people

[2021-05-13 07:35] Anupriya-Kashyap opened #307 "Instead of graphene.Int() if i use string then it gives null in output"
i want to filter the query on basis of some data instance of one attribute. How to do that?

class Query(graphene.ObjectType):
    candidateInfo = graphene.List(candidate, search=graphene.String())

    def resolve_candidateInfo(self, args, context, info):
        query = candidate.get_query(context)
        return query.get(args.get('search'))

schema= graphene.Schema(query=Query)
print(schema)

[2021-05-13 08:02] #307 closed

[2021-05-17 23:03] this-vidor opened #308 "Can a registered converter be shadowed to use a type other than a `graphene` type?"
For example, suppose a developer did not want `sqlalchemy.dialects.postgres.HSTORE` to be converted to `graphene.types.json.JSONString`. Is there a correct way to accomplish that?

[2021-05-21 16:07] adrianschneider94 commented on #35
And here the dataloader approach which is superior I guess.

Concept:
  * `SmartSQLAlchemyObjectType` inherits from `SQLAlchemyObjectType` and creates a `promise.DataLoader` for each relationship
  * The data loaders are created with a factory function that only depends on the SQLAlchemy attribute
  * All data loaders are stored in a class variable as mapping `RelationshipProperty` -> data loader

[2021-05-22 11:09] adrianschneider94 opened #309 "Default resolver on Many-To-One and One-To-One relationships is not respected"
SQLAlchemy-Graphene respects a custom resolver if it's set, but not a custom default resolver for many-to-one and one-to-one relationships.

The issue lies here:
https://github.com/graphql-python/graphene-sqlalchemy/blob/20ecaeadf2144b88555a3daf1a04e31b7f2ff95a/graphene_sqlalchemy/converter.py#L80

It should be checked if there is a custom default resolver and that should be used if it's the case.

[2021-05-27 20:04] duboisj-illuminate commented on #186
Thank you!

[2021-05-28 22:06] this-vidor commented on #251
This seems like fundamental missing functionality. How has this received no attention from devs since 2019?

[2021-05-31 00:10] ericleemz opened #310 "Why is there no options to set node and edge nonnull on connection field?"
I've been trying to set nonnull to node and edge on connection field
because a frontend engineer told me that he've got a lot of things to handler if node and edge are nullable.
is there a specific reason node and edge set to nullable?

[2021-06-02 16:01] ShivanshJ commented on #137
**As a developer, a feedback** - the learning curve of graphene-sqlalchemy increases so much when so many new libraries ,and then their evermore classes, involved.
I am facing a tough time understanding connections, including authentications etc. Using another filtering library seems like an overkill to me.
Can't simple filters be included like in the [django-graphene library ](https://docs.graphe

[2021-06-02 16:32] ShivanshJ commented on #137
How do I use this on a Schema Object which uses relay for its interface, like this one -

[code]

[2021-06-02 16:33] ShivanshJ commented on #137
How do I use this on a Schema Object which uses relay for its interface, like this one -

[code]

[2021-06-02 19:26] ShivanshJ commented on #137
Thanks to you I extended it into something more versatile for filter fields in Flask / graphQL / sqlalchemy  :
[code]

Then for the query :

[code]

and here PostObject is simply :
[code]

I hope this class helps others.
More instance type conversion mappings can be found in graphene converters.py File.

[2021-06-07 15:01] shota commented on #137
I finally found the way to do this in the right way. Simply add graphene.Argument to kwargs of SQLAlchemyConnectionField like below.
[code]

We can accept the status argument in Query.
[code]

You can also accept `graphene.List(graphene.String)` for list of string. That would be nice for querying status. Of course, many other types of argument which graphene supports would work.

Hope this helps.

[2021-06-14 16:48] jbvsmo commented on #285
Any news on this?

[2021-06-15 09:23] kimutaiRop opened #311 "hide some fields in graphene.list but show in graphene.field"
I have text content that is either free of for purchase and I would like to show all the content when querying graphene.Field for single object but not to show some content in graphene.List is there a way?

[2021-06-15 15:46] jose-lpa commented on #140
I just landed here today with the same issue: something that was working before doesn't work any more. In my case, all this mess raises when I install a 3rd party package [sqlalchemy-utils](https://sqlalchemy-utils.readthedocs.io/en/latest/). And I mean **when I install**, even when not using it at all in the codebase, it blows up with this `graphene-sqlalchemy` errors.

[2021-06-17 09:43] smentek commented on #292
https://www.oddbird.net/2014/06/14/sqlalchemy-postgres-autocommit/

[2021-06-23 09:35] lkaupp commented on #15
@Salamek this should be mentioned in the official docs if using the hybrid property. Works like a charm!

Here some example code for graphene-flask-sqlalchemy for beginners - just for documentation:
`
//models/__init__.py
from flask_sqlalchemy import SQLAlchemy
db = SQLAlchemy()
//model.py
from sqlalchemy.ext.hybrid import hybrid_property
from backend.server.models import db

class CurrentListenin

[2021-06-23 19:38] dpitch40 commented on #140
I am trying the code suggested by @flewellyn and am getting a long exception traceback ending with

[code]

If I try adding a `name` attribute to the Geometry_WKT class, I get a similarly long error traceback ending with

[code]

I am not familiar enough with the inner workings of Graphene/GraphQL to know what to do about either of these tracebacks. Can anyone confirm if this approach still works

[2021-06-24 03:39] shaozi opened #312 "How to define an Enum Input in mutation?"
In models.py, I defined a python Enum class:

[code]

 and in schema.py, I defined a mutation class:

[code]

But when running the script, it shows an error:

[code]

What does this error mean? Why?

[2021-06-24 16:45] shaozi commented on #312
I worked around it by converting the Enum to key value pairs, give it a unique name, and using `graphene.Argument()` to wrap it as an input argument:

[code]

Not sure if this is the right way, can anyone confirm?

[2021-06-25 13:21] aldiyar-zharkimbayev commented on #134
Hi, check my solution - not only n+1, but n+m problem:
I comdined anwers for n+1 problem and created custom ConnectionField class
edited version of `extract_requested_fields` function from @somada141 extract_requested_fields
 `def extract_requested_fields(
        info: graphql.execution.base.ResolveInfo,
        fields: List[Field],
        do_convert_to_snake_case: bool = True,
) -> Dict:
    re

[2021-06-25 16:12] aldiyar-zharkimbayev commented on #134
Hi, I didn't find full answer, so I combined answers and made solution not only for n+1, but for n+m, welcome.

1. edited version of `extract_requested_fields` function from @somada141, that converts requestedFields to dict
2. my `makeLoadOnlyOptions` function, that converts dict to query options
3. custom ConnectionField class `LoadOnlyConnectionField` - if you don't want custom class, you can us

[2021-07-01 19:42] brandonbrown4792 commented on #116
Perhaps a little easier:

[code]

[2021-07-03 14:39] chrisberks commented on #312
`graphene.Enum.from_enum(EmployeeKind)` returns a type object which you then need to call.

This:

[code]

is essentially a dynamic form of:

[code]

except the first is based on an existing Python Enum.

**Example:**

[code]

[code]

[2021-07-04 21:13] shaozi commented on #312
Thank you @chrisberks. However, I tried your example and it errored with:

[code]

[2021-07-05 08:48] chrisberks commented on #312
Graphene-SQLAlchemy is generating a GraphQL Enum type as it builds the schema from your SQLAlchemy models. You can override this by using `graphene-sqlalchemy.types.ORMField` to tell Graphene-SQLAlchemy to use our `EmployeeKind` enum instead.

[code]

[2021-07-05 18:57] shaozi commented on #312
It compiles without error. However, a new problem occurs:

If I do the following mutation:

[code]

It uses the value of the enum `1` instead of the string value `contractor` to update the database and leads to the error:

[code]

[2021-07-06 07:59] chrisberks commented on #312
The value that's passed to your `UpdateEmployee.mutate` method will be the _value_ of the Python enum member (in this case `1`).

By default, SQLAlchemy persists the enum member _names_ to the database ("contractor", "fulltime", "parttime"), rather than the _values_. We need to pass one of these _strings_ or an `EmployeeKind` member to SQLAlchemy.

To access the enum member by it's value: `Employe

[2021-07-06 08:46] thaonc97 commented on #35
Could anyone provide a working example with batching please? I 've tried to figure it out for days but still no luck.

[2021-07-06 15:00] shaozi commented on #312
Thank you very much for the detailed explanation and solutions @chrisberks !

[2021-07-06 15:56] shaozi commented on #312
But think about it, since SqlAlchemy pass enum member name to the database by default, why graphene pass enum member value by default? Should graphene with ORMField do the same as sqlalchemy? Maybe this can be changed so there are no mis-understanding?

[2021-07-06 19:20] chrisberks commented on #312
Thanks @shaozi!

Graphene v3 has [better Enum support](https://github.com/graphql-python/graphene/wiki/v3-release-notes#better-enum-support), resolvers will receive the Enum member directly rather than the value—as you suggest.

Graphene v3 is still in _beta_ though, Graphene-SQLAlchemy is using v2.

[2021-07-12 07:21] thaonc97 commented on #35
OK I figured it out, the `batching` option doesn't work with the current release of `SQLAlchemy` (1.4.20), I reinstalled `SQLAlchemy `to version 1.4.20 and its work fine. Haven't tested on others.

[2021-07-14 13:39] kpraznik commented on #285
maybe tagging @jnak will help to get some feedback.

[2021-07-19 12:12] kimutaiRop opened #313 "using interface with polymorphic models"
I have some polymorphic models
[code]
I then made graphql object for them like this

[code]
what hurts is the fact that even though name is shared in all the children of class A
i cannot do something like this

[code]
to query the data, is there a way that I can work this to be able to query

[2021-07-19 12:21] kimutaiRop commented on #311
was able to filter our using middleware info

[2021-07-19 12:21] #311 closed

[2021-07-30 16:16] shaozi opened #314 "Question: How to not using relay pagination?"
Relay pagination is nice, but sometimes, I just want to have a simple list backref. I know it will not exceed more than 10 elements in the list. so pagination just added a layer of extra work and no benefits.

Is there a way to disable relay pagination?

[2021-08-03 16:11] richin13 commented on #314
yep, you should be able to use a list, like so:

[code]

then query it like:

[code]

resulting in:

[code]

[2021-08-03 16:27] shaozi commented on #314
That is great! I did not think of that it could be so easy!

[2021-08-10 02:59] #131 closed

[2021-08-13 01:47] davidroeca commented on #292
I encountered a few issues using fast api + scoped_session in a small app I was working on (I think it was because of a stale select -- restarting the app provided a temporary fix).

Here's what I use for my session

[code]

Anyway, I found this issue + the following doc to be helpful in debugging it for myself: https://docs.sqlalchemy.org/en/14/orm/contextual.html?highlight=scoped_session#unitofw

[2021-08-13 10:30] tad3j commented on #304
I've noticed the same with batching. I think the reason is that they changed `QueryContext` in v1.4 SQLAlchemy:

v1.3 usage (used by this lib): https://github.com/graphql-python/graphene-sqlalchemy/blob/20ecaeadf2144b88555a3daf1a04e31b7f2ff95a/graphene_sqlalchemy/batching.py#L55

v1.4 usage: https://github.com/sqlalchemy/sqlalchemy/blob/cb8906bab1776bafed48ef69ded0768461f7e7b8/lib/sqlalchemy/orm/q

[2021-08-16 20:14] shaozi opened #315 "Question: How to access info in building relay.Node and connection"
It is convenient to just add two lines of code to do get by id and get all queries:

[code]

My question is, how do I enhance/customize the query so I can access the `info` for authorization purpose?

Currently I have to implement my own resolver, but for `all_employees` I lost the relay edges:

[code]

Is there a better more "graphene SQLAlchemy" way?

[2021-08-22 15:49] chrisberks commented on #315
Use `SQLAlchemyConnectionField` and have your resolver return `None`.

[code]

`return None`, `return` and omitting the return statement are equivalent.

[2021-08-23 20:30] lovetoburnswhen commented on #248
Is this the only major `graphene` library that hasn't yet upgraded to v3? If so then it's holding up the upgrade of `graphene` itself

[2021-08-23 21:41] ArielLahiany commented on #285
Hello. Just switched from Django to FastAPI for lightweighting a project I'm working on.
There is a big Django project here in the community, called "Saleor". It seems that they have perfected the model mutation logic, based on Graphene. Please Consider to have a look on how they implemented the code 😃

[2021-09-02 21:39] shaozi commented on #314
What about many to many relationship?

[2021-09-07 21:13] shaozi commented on #315
awesome! Thank you, it worked like a charm!  Where is this documented?

[2021-09-09 18:47] dmitrybabanovforreal commented on #292
@davidroeca I've just encountered the same issue with FastAPI and GrapqhQL. As tiangolo mentioned [here](https://github.com/tiangolo/fastapi/issues/27#issuecomment-464149891), it's not a good idea to use a `scoped_session`.

So I create and pass a new session with each query like that:

[code]

[2021-09-09 19:11] davidroeca commented on #292
Unfortunately, that renders a lot of graphene's relationship and queries capabilities useless. My preferred approach is closer to [this one](https://github.com/tiangolo/fastapi/issues/726#issuecomment-901932370) within that same thread.

Along the lines of:

[code]

[2021-09-10 22:09] richin13 commented on #248
@DoctorJohn @zsiciarz thank you for your work on the PRs to bring this library closer to v3, I have opened #317 and fixed all failing tests

[2021-09-16 14:34] dmitrybabanovforreal commented on #292
@davidroeca I don't know it works well for me. I have lots of one-to-many relationships between objects that render correctly in nested responses And I use SQL Alchemy models as meta classes in GraphQL SQL Alchemy classes. So I pretty much use the most important features without any problems.

I updated the code in my message above a bit because the previous version caused errors when I query obje

[2021-09-16 15:03] davidroeca commented on #292
@dmitrybabanovforreal did you read [this doc](https://docs.sqlalchemy.org/en/14/orm/contextual.html#unitofwork-contextual)?

I don't think avoiding `scoped_session` is necessarily a "best practice" but rather a recommendation from tiangolo to reduce confusion for new users. In this case, avoiding `scoped_session` requires you to write resolver functions for every relationship. Using `scoped_sessio

[2021-10-01 01:13] shlomi84 opened #319 "How to tweak query structure from relationships"
I'm working on a simple CRUD REST API to learn GraphQL & SqlAlchemy. I have a Movie table
[code]
that has its own properties (movie, budget, rating) but also 4 foreign keys (genre, studio, director, actors).
my GraphQL types are simple
[code]
however, now when I query data, for the relationship tables, I have to replicate key, value pairs to get simple data
[code]
i.e. can I avoid using genre {gen

[2021-10-25 13:40] zhaoxwei opened #320 "How to convert a json response to graphql SQLAlchemyObjectType"
I am trying to build an application with graphene_sqlalchemy to manage quite a few micro-services. I have the data models (SQLAlchemyObjectType) of each micro-service, and want to reuse them so that I don't need to duplicate data models. But the challenge is how to convert json responses from micro-services to graphql SQLAlchemyObjectType. Is there any reference? Or do I have to redefine data mode

[2021-10-25 21:00] MingzXIE opened #321 "Encounter an error when trying the example"
Hi there,

I was trying the example code in the Readme file. However, I met this error:
[code]

This is my schema file which is the same as the example:
[code]

And my model file:
[code]

Did I miss something? Many thanks!

[2021-10-29 21:37] kurtwiersma commented on #196
We were able to use a ChoiceType with graphene-sqlalchemy 2.3.0 under Python 3.8 but got this error when we upgraded to Python 3.9. I was able to figure out a fix for it by updating one line in the graphene-sqlalchemy library. If you like I can submit a PR and see if passes review and doesn't break anything else.

[2021-11-02 23:16] MingzXIE commented on #321
Thanks @chrisberks

Sine we are using FastAPI, so we need starlette-graphene3 which  requires Graphene V3

Just close this issue since it looks like a package version issue

[2021-11-02 23:16] #321 closed

[2021-11-10 20:55] raguiar2 commented on #304
Is a release going to be cut with this feature? It would be useful to have the most up-to-date version of graphene-sqlalchemy on pypi so it can be used with 1.4

[2021-11-18 00:00] rohinb2 opened #322 "graphene-sqlalchemy depends on outdated graphql-core version."
Hi, I have been using `graphene-sqlalchemy` in my project for a while now.

However, due to [this bug](https://github.com/graphql-python/gql/issues/222), I need to update to the latest version of gql, which depends on graphql-core >= 3.1. However, this package depends on an older version of graphql-core:

[code]

Are there plans to release a new version that is compatible with the latest versions

[2021-11-18 18:07] richin13 commented on #322
This sould be solve with a new release being pushed to pypi. A temporary solution for you could be to use the beta release (`pip install 'graphene-sqlalchemy==3.0.0b1'`) while #323 gets merged and a new stable release gets published on PyPI.

@mvanlonden can you take a look at #323 and publish a new version in PyPI? 🙏🏼

[2021-11-21 20:15] Fred7b opened #324 "Question: Support sqlalchemy AsyncSession ?"
Sqlalchemy in 1.4 support asynchronous I/O. I would like to know about plans to support async 1.4+ sqlalchemy. Will this be implemented in the graphene-sqlalchemy?

[2021-11-23 16:01] carolineclancy0 opened #325 "Batching dependent on Relay"
Hi!

We have been experiencing latency with large queries and found that we have several queries that have the N+1 problem. We added `batching = True` to our SQLAlchemyObjectType meta classes, but have not seen a decrease in the number of DB requests.

Is the batching field reliant on relay to work? I see in all of the batching tests `interfaces = (relay.Node,)` is also included in the Meta class.

[2021-11-29 22:34] shaozi commented on #245
Ran into exactly the same error multiple times and it is driving me crazy! SQLAlchemy itself passed all tests. It only shows this error when combined with graphene.

For one time, removing `back_populations` and remove the relationship from one side made the error disappear. For another time, a simple import statement of the model caused this error.

[2021-11-29 23:08] zzzeek commented on #245
did anyone try calling configure_mappers() at the right time so that backrefs are all set up?

[2021-11-30 05:31] shaozi commented on #245
I eventually found the answer. The reason for the error is that the model resolution needs the model to be imported somewhere before. So try to import the model in the beginning of the app fixed my issue.

The accepted answer in this stack overflow hit the nail on the head: https://stackoverflow.com/questions/45534903/python-sqlalchemy-attributeerror-mapper/45540141#45540141

[2021-12-06 08:48] sebix opened #326 "Depending on unmaintained library aiodataloader"
Unfortunately https://github.com/syrusakbary/aiodataloader looks unmaintained: Necessary fixes are not released, Maintainers do neither respond nor transfer permissions to others.
aiodataloader is "only" used in one place:
https://github.com/graphql-python/graphene-sqlalchemy/blob/d6dd67e388b58247dd4a03c29bf6e625d6e4e230/graphene_sqlalchemy/batching.py#L15
Please check if it's possible to remove t

[2021-12-07 14:04] richin13 commented on #326
The whole ecosystem can be considered abandoned/unmaintained at this point, sadly.

[2021-12-09 20:14] raguiar2 opened #327 "Received incompatible instance \"<coroutine object get_batch_resolver.<locals>.resolve at 0x1080d6840>"
When following the tutorial at https://docs.graphene-python.org/projects/sqlalchemy/en/latest/tutorial/ and using the following packages

[code]

to run an ASGI uvicorn server with flask (though it doesn't work if i just type `flask run` either), I execute the graphql command

[code]

And get a bunch of errors that say:
`Received incompatible instance \"<coroutine object get_batch_resolver.<locals

[2021-12-24 00:17] erikwrede commented on #327
Was able to reproduce this issue in a similar case using FastAPI and graphene-starlette3. Seems to be non-breaking with regards to query resolution though.

[2021-12-25 13:04] erikwrede commented on #326
@richin13 is there anything we can do about it? Sad to see such a rich ecosystem go unmaintained with even simple fixes not being merged. I saw the call for maintainers on the main graphene repo, but even there only little activity seems visible.

[2021-12-25 13:08] erikwrede commented on #325
I would suggest trying out this library, if your SQLAlchemy schema allows for it. It covers more cases than the SQLAlchemy implementation: https://github.com/operator/sqlalchemy_bulk_lazy_loader

[2021-12-25 14:00] Cito commented on #326
@erikwrede @richin13  I don't think the *whole* ecosystem is abandoned, but parts of it are.

I see two core probems:

1. We don't have a coordinater for the whole graphql-python system (anymore). There were some peole who volunteered, but life or job changes got in their ways. So we again need someone to volunteer as new overall coordinator and protagonist of the ecosystem.
2. Some (not all) proj

[2022-01-05 14:07] richin13 commented on #326
@Cito agreed!
I didn't mean to generalize my concerns to all of `graphql-python` but to `graphene` specifically. I know the core libs are heavily maintained (thanks to you!) and actively used in other libraries beyond graphene.

As per your points, those are valid, I'd say we've done it but with no success. Maybe is a matter of pushing harder I don't know. I think people willing to jump in and con

[2022-01-08 18:51] erikwrede commented on #314
@shaozi it should work exactly the same for a many to many relationship, just use a list on the other side of the relationship as well.
[code]

for using plain Strings, you would have to create an extra ObjectType.

[2022-01-13 16:26] fvallee-bnx commented on #140
If anyone still interested I figured out a way to get the geometry content using shapely-geojson (0.0.1) and graphene-sqlalchemy (2.3.0)

[code]

Result is like:
[code]

(as far as I can tell the geojson string is matching posgraphile output).

[2022-01-14 19:24] fernandoflorez opened #328 "Modify relationship query runtime"
Hello,

How would I modify a relationship query on runtime? I'd like to limit the dataset based on a context variable on runtime.

Any guides on where should I look?

Thanks

[2022-01-20 15:26] #322 closed

[2022-01-25 22:03] yesthesoup commented on #121
How annoying this is. For anyone else coming here with a Flask app, I had to comment out importing my graphqlview and schema.

in `myproject/__init__.py`

[code]

in `myproject.routes.graphql`, where `schema.py` was the problem
[code]
this allowed me to `flask shell` without an error and when I tried to query a problematic model I got the real error.

[2022-01-26 09:33] sonium0 commented on #285
Another blueprint could be the way Dgraph autogenerates mutations:

https://dgraph.io/docs/graphql/mutations/mutations-overview/

[2022-01-27 19:32] ed-turner opened #329 "BUG: Out of Sync with graphql-relay > 3.1"
This is related to the import `graphql_relay.connection.arrayconnection` in `graphene_sqlalchemy.fields.SQLAlchemyConnectionField`.

To reproduce:

1. pip install graphql-relay==3.1.0
2. Run `from graphene_sqlalchemy.fields import SQLAlchemyConnectionField`
3. You will get an import module error for `graphql_relay.connection.arrayconnection`

One suggestion is to either make specific requirements

[2022-01-28 09:05] Cito commented on #329
There will be a patch release of graphql-relay 3.1 for backward compatibility today, but it should also be fixed here by importing from the top level of graphql-relay.

[2022-01-28 10:41] HansG89 commented on #304
What about this issue? Still same behavior in latest version. Batching with sqlalchemy 1.4 not working

[2022-01-28 14:20] Cito commented on #329
Fix available in PR #330

[2022-02-17 00:14] ericaiq opened #331 "[Bug] Batching throws error when Flask auto-reload is enabled"
Hi,

I'm currently upgrading a graphene 2 project to graphene 3. The project uses `graphene-sqlalchemy` and `graphql-server[flask].` I'm noticing strange behavior when using batching while flask is in development mode, specifically when auto-reload is enabled. When auto-reload is enabled and batching is enabled, then all requests fail. Instead an `asyncio` error is thrown, `TypeError: UserConvo fi

[2022-02-23 13:07] erikwrede commented on #328
Can you specify what exactly you are trying to achieve? Maybe with a minimal working example?
To me, this sounds like more of a graphql frontend/client issue than a server issue.

[2022-02-23 17:36] fernandoflorez commented on #328
I would like to limit the access to specific data based on the type of user. An option would be to add the logic to the resolver but another option (which is what I'm using) was to create a custom model loader and add the logic and restrictions there.

[2022-02-26 02:04] palisadoes opened #332 "Update Examples Documentation to Cover Dataloaders / Batching"
Though there is some information on how to implement dataloaders in [test_batching.py](https://github.com/graphql-python/graphene-sqlalchemy/blob/master/graphene_sqlalchemy/tests/test_batching.py), the sample code in the [examples](https://github.com/graphql-python/graphene-sqlalchemy/tree/master/examples) directory lacks examples of how to do it.

My original code is based on that in the examples

[2022-03-02 17:16] cglacet commented on #288
Seems like its still an issue today.

I used @jbeard4 patch and it works as expected.

[code]

[2022-03-07 05:55] conao3 opened #334 "tox fails py36-sql12, py36-sql13, py36-sql14"
Thanks for great project!

I want to contribute this project and I try to create local development environment.
I'm facing below error, could anyone help me?
## error log
[code]

## log file
[code]

[2022-03-09 17:15] jqhoogland commented on #137
Following up on @shota's solution, if you consistently need the same arguments, consider including a default among `**kwargs` in `SQLAlchemyConnectionField.__init__`.

[code]

[2022-03-29 18:15] palisadoes opened #335 "Integrating support for graphene-sqlalchemy-filter into code base"
As there is limited filtering with [graphene-sqlalchemy](https://github.com/graphql-python/graphene-sqlalchemy), I have been using [graphene-sqlalchemy-filter](https://github.com/art1415926535/graphene-sqlalchemy-filter) which has many stock filters included. Unfortunately the developer seems to have lost interest in the code base and a critical PR to add support for Graphene 3.0 has been unmerged

[2022-03-29 20:15] erikwrede commented on #335
I just followed your link from the filter repo, so I thought I might leave a reply here as well :)

While in general I support the idea of adding filters to graphene-sqa, and like the approach that the author has taken, I think a simple merge won't do it. The filters should be deeply integrated into this repo to allow for even more features, so this has to be planned. But I think using this librar

[2022-03-29 20:32] palisadoes commented on #335
Thanks. My python skills are good, but not great. However, I'd be willing to learn. @cooldudemcgeexl would you be interested in a collaboration?

[2022-03-29 20:39] palisadoes commented on #326
@Cito I'm interested in partially sponsoring work on `graphene-sqlalchemy` to integrate filters like `graphene-sqlalchemy-filter`. How should I proceed?

[2022-03-30 19:11] palisadoes commented on #335
We have an interested party in adding the filtering syntax.

- https://github.com/graphql-python/graphene-sqlalchemy/pull/164#issuecomment-1083510163

[2022-03-31 20:06] erikwrede commented on #335
Sounds great!

I think the current external library is great but still has some places where the design lacks flexibility.
Maybe we should find some interested users and collect their filtering requirements here as a start?

[2022-04-09 19:46] erikwrede commented on #312
I am closing this issue, since everything seems to be resolved. For using Graphene v3 enums, I recommend using the Graphene-SQLAlchemy v3 beta until v3 is officially released.

[2022-04-09 19:46] #312 closed

[2022-04-11 17:35] yesthesoup commented on #211
To solve this issue I created a separate type and imported it in both places I want to use it:

[code]

and then in the query/mutation:
[code]

[2022-04-11 21:56] calibodhi commented on #257
Any updates on this issue? I am trying to use a UUID as a primary key and having the same error as the original above. Many thanks :pray:

[2022-04-11 22:18] calibodhi opened #336 "No UUIDType support"
Almost identical to #257
Opening a new issue since I could not find a solution. Any help is much appreciated.

[code]

[code]

How can I support UUIDs?

[2022-04-13 10:16] jendrikjoe commented on #324
I would be willing to help on this with a PR, if the maintainers are interested 😉
I experimented a bit with it and what worked for me is to just overwrite the `get_node` method. An MVP is attached (sorry for it being a bit messy, but I copied it from my test project and therefore it is in multiple files 😉)

The question I would have about a possible PR is, if the asyncio part should be its own sub

[2022-04-13 11:28] erikwrede commented on #324
The idea of implementing async sessions is great.
@jendrikjoe How would your MVP work with batch loading or relationships in general?
I'll look into this next week and follow up with a more detailed reply!

[2022-04-13 11:32] erikwrede commented on #314
I'm closing this issue, since the problem seems to be solved. Feel free to reply again or open another Issue if you experience further problems.

[2022-04-13 11:32] #314 closed

[2022-04-14 07:32] jendrikjoe commented on #324
From what I found relationships should be fine, if not loaded lazily, which would conflict with this section of the sqlalchemy docs: https://docs.sqlalchemy.org/en/14/orm/extensions/asyncio.html#preventing-implicit-io-when-using-asyncsession. So setting lazy in the relationships to `"selectin"` should keep everything working as is 😉
I can as well expand the tests to contain relationships and conne

[2022-04-14 09:59] erikwrede commented on #324
We should clearly communicate the lack of support for certain lazy loading techniques then.
Additionally, I think a PR would require a more elegant solution than overriding the get_node classmethod for every type.
Maybe an option in the meta class (e.g. async= True/False) with a global default option would work?
This way we could implement the async functionality without using an extra subpackage

[2022-04-14 17:58] jendrikjoe commented on #324
I very much agree on all the point 👍 I will check if I can come up with something that moves this to the meta class 👍 I will check how the async mutations are done to figure, if I can draw inspiration from that. Same goes for the batching part 🙂

[2022-04-19 19:22] PaulSchweizer commented on #35
I am also a bit confused about the batching feature.
I inspected the tests and I can see **two SELECT statements** where I would **expect only one**.

https://github.com/graphql-python/graphene-sqlalchemy/blob/master/graphene_sqlalchemy/tests/test_batching.py#L121

Printing the logging messages that are captured in the test, I can see two SELECT statements:

[code]

I get the same result with SQLA

[2022-04-23 12:25] PaulSchweizer commented on #35
So I read up on it a bit more and it makes sense to me now:

Batching uses the "select in" loading mechanic of sqlalchemy which loads all related objects upfront by using the primary keys returned from the first query. It then emits a second SELECT statement to load the related objects in bulk as opposed to loading each one of them individually at the point of access. This is just the gist however

[2022-04-27 16:53] kastolars opened #337 "Sorting not working"
[code]

My query in GQL:

[code]
The result:

[code]

What's really strange is the `first` argument appears to apply a limit to the result, but the sort argument appears to just be swallowed and unused. Switching to `TIMESTAMP_ASC` produces the same result. I'm trying to find examples online to help with this. What am I doing wrong or what can i try here?

I'm using `2.3.0`

[2022-04-27 19:03] erikwrede commented on #324
Hey, I've looked into it again.
If you want you can open a merge request with a proof of concept and we can start with that. This should change as little about things like batching as possible, while ensuring they still work. After that, things like adding the session maker (at the moment, graphene-SQA just uses a single session defined in the graphene-schema) should be taken care of. Looking forw

[2022-04-27 19:13] erikwrede commented on #337
Hey there, it seems like you're not passing enough information to the `UserActivityModel.get_query(info)` call.
Check the original method:
https://github.com/graphql-python/graphene-sqlalchemy/blob/7bf0aa5cabae99e5f8be46ac2a2f0faf30093c97/graphene_sqlalchemy/fields.py#L114

`sort`  is an extra parameter which is `None` by default. You're only passing info. Consequently, sorting won't be included i

[2022-04-27 19:15] erikwrede commented on #334
Hey, have you been able to find a fix to this problem?

[2022-04-27 19:22] erikwrede commented on #331
This looks like an issue with graphql-server[flask] or graphene rather than this library. Maybe the event loop introduced with graphene3 is destroyed during live-reload?
Have you found any fix so far?

[2022-04-27 19:36] kastolars commented on #337
Hi! Thank you for the prompt reply, I really appreciate it.

I've changed the line in the resolver to be `UserActivityModel.get_query(info, sort)` but when I execute the query I get the following:

[code]

Perhaps I am not implementing the Model correctly?

[2022-04-27 19:41] kastolars commented on #337
I've read in the updated 2.0 docs that some changes to node connections have been made so I made the following changes:

[code]

When I'm using Insomnia, the graphql body _does_ detect the sort field and autocompletes valid enums like TIMESTAMP_DESC, it's just that it's being swallowed. So idk how to make sure that the resolver uses the connectionfield `get_query`

[2022-04-27 19:43] erikwrede commented on #337
Try using the get_query property of the SQLAlchemyConnectionField instead of the ObjectType.

[2022-04-27 19:45] kastolars commented on #337
Okay now I changed the line in the resolver to:

`query = SQLAlchemyConnectionField.get_query(info, sort)`

But I am getting the following:

[code]

[2022-04-27 19:58] kastolars commented on #337
Wait did you mean in the `Query` superclass?

[2022-04-27 20:10] erikwrede commented on #337
Yes, you are getting this error, because you didn't add some additional info that the field's `get_query` needs. This should do the job (tested it just to be safe):

[code]

Your `query.filter_by(**kwargs)` didn't work for me, but I don't know your intended use for this operation.

[2022-04-27 20:16] kastolars commented on #337
Can you show me what `ExperimentType` looks like in this case?

[2022-04-27 20:18] erikwrede commented on #337
Just a typo, tested it on a different schema - I fixed the example.

[2022-04-27 20:21] kastolars commented on #337
That worked! Thank you so much.

[2022-04-27 20:32] erikwrede commented on #337
Great to hear, I'm closing this issue now. If further problems occur, feel free to reply.
Since I saw the attempt to apply filtering to your queries, I suggest looking into this library, before you put in too much duplicate work into providing basic custom filters:
https://github.com/art1415926535/graphene-sqlalchemy-filter

It's currently inactive but provides a lot of filtering functionality for

[2022-04-27 20:32] #337 closed

[2022-04-27 20:44] erikwrede commented on #319
The simplest way to achieve this would be to add properties to the SQLAlchemy `Movie` model:

[code]
This property will become available in your schema.

If your `Genre` entity only consists of a single field `genre`, it would make sense to remove the genre Type and Model from your schema and implement the entity by adding the `genre` field to all models having a relationship with the `Genre` enti

[2022-04-27 20:53] erikwrede commented on #310
There is an issue tracking this in graphene:
https://github.com/graphql-python/graphene/issues/968

[2022-04-27 20:58] #319 closed

[2022-04-27 21:12] erikwrede commented on #304
The graphene-sqlalchemy v3 beta release contains this fix.

[2022-04-27 21:20] erikwrede commented on #291
Do you have a specific use case where it would be necessary to add the resolver after declaration?

[2022-04-27 21:29] erikwrede commented on #293
Should we change that behavior to convert `sqlalchemy.types.Date` and `sqlalchemy.types.Time` to `graphene.Date` and `graphene.Time`, or is there any reason not to do that?

[2022-04-28 00:31] #288 closed

[2022-04-28 00:44] #272 closed

[2022-04-28 00:45] #283 closed

[2022-04-28 00:53] erikwrede commented on #248
I've been working through some of the issues in this repo and have been using beta-v3 myself for some time. Are there any active blockers for a full v3 release known to you?

[2022-04-28 01:54] flipbit03 commented on #15
It'd be very nice if the hybrid_property translator could use the function's return type hints as the actual base for generating the final GraphQL type

[2022-04-28 08:54] chrisberks commented on #293
Thanks for picking this up @erikwrede.

I see no reason this shouldn't be the case, [graphene-django does what you're suggesting](https://github.com/graphql-python/graphene-django/blob/v3.0.0b7/graphene_django/converter.py#L197-L208). I assume this would be a breaking change and need to be added to the next major release.

[2022-04-28 08:58] erikwrede commented on #293
I think we could easily add that to the graphene-sqlalchemy v3 release since it is a major release anyways. It should be a 4 liner in the codebase.

[2022-04-28 09:00] erikwrede commented on #15
@flipbit03 check out #333

[2022-04-28 09:13] erikwrede commented on #42
This issue has been inactive for a long time, so I'm closing it.
Filtering is currently unsupported in graphene-sqlalchemy. For 2.x you can use the `graphene-sqlalchemy-filter` library. We are currently working on more advanced filtering for graphene-sqlalchemy 3.0.

See #335 for progress.

[2022-04-28 09:13] #42 closed

[2022-04-28 09:21] erikwrede commented on #28
This issue has been inactive for a long time, so I'm closing it.
Filtering is currently unsupported in graphene-sqlalchemy. For 2.x you can use the `graphene-sqlalchemy-filter` library. However, I'm not sure if it natively supports JSON though. We are currently working on more advanced filtering for graphene-sqlalchemy 3.0.

See https://github.com/graphql-python/graphene-sqlalchemy/issues/335 for

[2022-04-28 09:21] #28 closed

[2022-04-28 09:28] erikwrede commented on #37
Since a PR for this was merged long ago, I'm closing this issue. If further changes are necessary, feel free to reply, and I will re-open the issue.

[2022-04-28 09:28] #37 closed

[2022-04-28 09:29] #17 closed

[2022-04-28 09:35] erikwrede commented on #31
Is this still relevant? Using the `ClientIDMutation` from graphene should do the job now.

[2022-04-28 09:40] #65 closed

[2022-04-28 09:42] #54 closed

[2022-04-28 10:05] erikwrede commented on #121
As far as I can tell there are three separate PRs for this problem:

- https://github.com/graphql-python/graphene-sqlalchemy/pull/169
- https://github.com/graphql-python/graphene-sqlalchemy/pull/281

Which contain the same code except for some requested changes. And this PR, which simply drops all the assertions:

- https://github.com/graphql-python/graphene-sqlalchemy/pull/238/

Is there any pref

[2022-04-28 10:08] #113 closed

[2022-04-28 10:20] erikwrede commented on #114
Unless GQL Spec changes, I don't see a case for adding support for recursive queries. The alternative, for now, is to use the workaround by @Tryph or change the schema design.

[2022-04-28 10:20] #114 closed

[2022-04-28 10:36] #242 closed

[2022-04-28 10:43] erikwrede commented on #129
Closing this due to inactivity.

[2022-04-28 10:43] #129 closed

[2022-04-28 10:49] erikwrede commented on #123
I think the way to go here would be to create a custom `ObjectType` for the JSON and deserialize the JSON into that Type.
Schemas for fields are not part of the GQL Spec.
However, you could create and provide a JSON Schema outside of this library that you can check locally.

This is an old issue, and my response should answer the question. If you have additional questions, feel free to reply anywa

[2022-04-28 10:49] #123 closed

[2022-04-28 11:06] erikwrede commented on #126
https://relay.dev/docs/guides/graphql-server-specification/

This is a quote from the relay GQL Server spec. Since our repo follows that implementation, I think we should stick to Spec, but enable users to customize this behavior without having to implement custom nodes. I'm open to suggestions on how to achieve that or further discussion.

[2022-04-28 11:50] Fred7b commented on #324
hey all. Thank You for response.
A few facts about what I did and what I use to solve problems in my project/
1. I use fastapi + starlette-graphene3
2. I fork into project dir. graphene-sqlalchemy, graphene_sqlalchemy_filter libs. And update logic in method
get_query() for async
form
` @classmethod
    def get_query(cls, model, info, sort=None, **args):
        query = get_query(model, info.contex

[2022-04-28 14:01] erikwrede commented on #121
@connorbrinton, thanks for the quick reply after such a long time!
I just gained access to this repo, so I can merge PRs and manage things. Still, I'm currently getting an overview of old and stagnant issues to see what was planned and ready to deploy, so any help or hints are highly appreciated!

[2022-04-28 14:32] connorbrinton commented on #121
Neat! 😄 The conflicts aren't too difficult, so I went ahead and rebased my PRs and integrated the suggested changes. I also switched the git repository references in `.pre-commit-config.yaml`  from `git://` to `https://`, [since GitHub no longer supports the unauthenticated `git://` protocol](https://github.blog/2021-09-01-improving-git-protocol-security-github/)

Tests pass locally on my machine,

[2022-04-28 15:57] erikwrede commented on #121
Thanks! Looks good!

[2022-04-28 16:05] #121 closed

[2022-04-28 16:29] erikwrede commented on #182
This is resolved in 3.0-Beta. The singledispatch dependency was removed since support for python < 3.6 was dropped.

[2022-04-28 16:48] erikwrede commented on #326
Seems like the library has a new maintainer, urgent fixes have also been pushed to PyPi:
https://github.com/syrusakbary/aiodataloader/issues/20#issuecomment-1018405467

Closing this issue for now.

[2022-04-28 16:48] #326 closed

[2022-04-28 17:08] erikwrede opened #339 "Discussion: Additional Type Converters"
In this repo, several issues and PRs propose adding additional Type Converters to natively support more PostgreSQL/Sqlalchemy[_utils] types in SqlAlchemyObjectTypes.

While most issues add support for types in libraries that are already included in dependencies, there is also a request to add additional dependencies to support even more types natively.

While I agree that adding extra types is ben

[2022-04-28 17:16] #303 closed

[2022-04-28 17:18] #304 closed

[2022-04-28 17:21] erikwrede commented on #282
See #332

[2022-04-28 17:21] #282 closed

[2022-04-28 17:23] erikwrede commented on #293
I've created an extra issue collecting all the type converter problems/suggestions. Feel free to add more!

[2022-04-28 17:27] erikwrede commented on #295
This will be included in the 3.0 release.

[2022-04-28 17:33] erikwrede commented on #206
Sounds helpful! However, I don't think a `Meta` entry would be the right place for this since some models might require different time formats in the same response.
The approach should allow field-level adjustments, but an additional default global option is also handy. I'm open to more suggestions.

[2022-04-28 17:37] #156 closed

[2022-04-28 17:39] erikwrede commented on #99
A Union should do the job, depending on your use case: https://github.com/graphql-python/graphene-sqlalchemy/issues/156#issuecomment-436021459

[2022-04-28 17:39] #99 closed

[2022-04-28 17:50] erikwrede commented on #64
The original request for queries is accessible via the `info` field of the resolver method.

[code]
In this case, I'm using a Starlette Webserver, so I could read the Request object to find out the request method. If the resolver is in a mutation, the mutation could then be blocked.
Other GQL-Middlewares could work differently, check your individual GQL server for that. If there are a lot of mutat

[2022-04-28 17:50] #64 closed

[2022-04-28 20:32] erikwrede commented on #243
Closing this due to inactivity. Couldn't reproduce this issue either. Feel free to reply with a MWE and I will reopen the issue.

[2022-04-28 20:32] #243 closed

[2022-04-28 20:38] erikwrede commented on #225
This seems to be fixed in 3.0:
https://github.com/graphql-python/graphene-sqlalchemy/blob/5da2048f15f16f6e2443a2c2471e9626069dbb04/graphene_sqlalchemy/fields.py#L124

[2022-04-28 20:38] #225 closed

[2022-04-29 02:59] flipbit03 commented on #15
I have opened a pull request for this in #340, satisfying most use cases with the types in the Standard Library and the List[T] container type. It also includes the ability to retrieve a previously generated SQLAlchemyObjectType.

[2022-04-29 22:01] ego opened #341 "Post processing relationship result with SQLAlchemyConnectionField"
Hi there!

Maybe someone asked this question, sorry.
But how to do post processing or override relationship result with `SQLAlchemyConnectionField`?

https://github.com/graphql-python/graphene-sqlalchemy/blob/master/examples/flask_sqlalchemy/schema.py#L36

[code]

[2022-04-29 23:03] erikwrede opened #342 "Enum support for automatic hybrid property type conversion"
See discussion in #340

[2022-04-30 10:20] #295 closed

[2022-04-30 10:28] erikwrede commented on #341
Hey there, for filtering in `graphene-sqlalchemy<3.0`, take a look at `graphene-sqlalchemy-filter` or look in the closed and open issues, there are plenty of suggestions, you can pick the one that fits your needs best.
One way you can get the query of an `SQLAlchemyConnectionField` is this:
[code]

[2022-04-30 20:01] calibodhi commented on #336
@erikwrede thanks! It works with the postgres UUID on a postgres db. I would love to get this working with sqlite3. I will open a separate issue for that, if needed, and change the name back on this since I referenced the other issues.

[code]

[2022-04-30 22:33] ego commented on #341
Thanks for your time and reply.

[2022-04-30 22:33] #341 closed

[2022-05-01 03:33] ericaiq commented on #331
Unfortunately I did not find a solution outside of disabling the live-reload. The project I was working on actually pivoted away from Graphene so I'm no longer using this library.

[2022-05-01 13:44] erikwrede commented on #336
Sorry for the late reply. I haven't found the time to do any testing earlier.  Since you referenced #257, I expected that you already tried adding a custom type converter for `UUIDType`. This is necessary because SQLAlchemy does not natively support `sqlalchemy_utils.UUIDType` and does not know how to convert this time into a Graphene-Type for the GraphQL-Schema.
You are seeing the error Message `

[2022-05-01 13:47] erikwrede commented on #331
Thank you for the reply! I'll keep this open for further reference and try to find a solution next time I'm working on something flask-related. Thanks for reporting.

[2022-05-01 20:13] erikwrede commented on #294
Closing this issue since @chrisberks solution should do the job.

[2022-05-01 20:13] #294 closed

[2022-05-05 17:30] erikwrede commented on #285
There's definitely a use case for this!
Just adding a few remarks:

I think there's a more differentiated view to this. In some cases, only the composite/hybrid field is relevant to the API. When users want to create/modify an object, they might only know about the hybrid property but not the underlying columns/data structures. Sqlalchemy provides setters for hybrid, tackling this problem. Optimal

[2022-05-13 12:00] erikwrede opened #348 "v3.0 Release"
This issue will collect ToDos and blockers for the `3.0` release of this library.

While `graphene==3.0` is already fully supported by the current beta release `3.0.0b1`, future beta releases will introduce new features breaking changes that will be included in the full 3.0 release.

**In progress**
- [ ] #267
- [ ] #301

**Merge Before Release**
- [ ]  #323

**Potentially Breaking changes**

- [

[2022-05-13 12:03] erikwrede opened #349 "Active Design Discussions"
This issue lists design discussions currently in progress. Results from these discussions will be implemented in the next release of `graphene-sqlalchemy`. Any input and thoughts on these features are appreciated!

- #345
- #346
- #347

[2022-05-13 12:13] erikwrede commented on #315
I believe this is currently undocumented. Closing this, as documentation is another issue, the original problem seems to be solved. If you have further questions, feel free to open another issue!

[2022-05-13 12:13] #315 closed

[2022-05-13 12:28] erikwrede commented on #248
See #348

[2022-05-13 12:28] #248 closed

[2022-05-13 12:31] erikwrede commented on #27
Closing all [duplicate] issues related to this. The discussion will continue in #347 (WIP). A proposal for the implementation of filters is currently being worked on and will be posted there once it is ready.

[2022-05-13 12:31] #27 closed

[2022-05-13 12:37] erikwrede commented on #231
I am closing all old issues&PRs related to filtering. The discussion will continue in https://github.com/graphql-python/graphene-sqlalchemy/discussions/347 (WIP). A proposal for the implementation of filters is currently being worked on and will be posted there once it is ready.

[2022-05-13 12:37] #231 closed

[2022-05-13 12:38] erikwrede commented on #137
I am closing all old issues&PRs related to filtering. The discussion will continue in https://github.com/graphql-python/graphene-sqlalchemy/discussions/347 (WIP). A proposal for the implementation of filters is currently being worked on and will be posted there once it is ready.

[2022-05-13 12:38] #137 closed

[2022-05-13 12:41] erikwrede commented on #16
I am closing all old issues&PRs related to filtering. The discussion will continue in https://github.com/graphql-python/graphene-sqlalchemy/discussions/347 (WIP). A proposal for the implementation of filters is currently being worked on and will be posted there once it is ready.

[2022-05-13 12:41] #16 closed

[2022-05-13 12:42] erikwrede commented on #110
I am closing all old issues&PRs related to filtering. The discussion will continue in https://github.com/graphql-python/graphene-sqlalchemy/discussions/347 (WIP). A proposal for the implementation of filters is currently being worked on and will be posted there once it is ready.

[2022-05-13 12:42] #110 closed

[2022-05-13 12:44] #139 closed

[2022-05-14 16:46] erikwrede commented on #136
#267 should solve this issue and will be merged soon!

[2022-05-15 11:06] erikwrede commented on #146
Hey, if this error still persists in newer versions, please open a new issue including a minimal example explaining what you are trying to achieve. I will close the issue since it's been over 4 years, but I'm happy to assist if you still have issues!

[2022-05-15 11:06] #146 closed

[2022-05-15 11:16] erikwrede commented on #176
Currently, there is no default converter. I think the default behavior is problematic since not every type is compatible with a default scalar such as `graphene.String`. Creating a custom converter exactly for the types you need seems to be the more favorable approach IMO. Even using SQA-Reflection, you should always know which types are present in your DB schema, so every need for additional type

[2022-05-15 11:16] #176 closed

[2022-05-15 12:05] erikwrede commented on #127
Hey Alexis,
sorry for the late reply. The problem is probably not relevant to you anymore. I'm still replying in case anyone else finds this issue looking for a solution.
`graphene 3.0` supports `async/await` using `asyncio`. Using that version of the library, long-running mutations can be converted to async mutations, and the long-running tasks they trigger can be moved to another thread that can

[2022-05-15 12:05] #127 closed

[2022-05-15 12:15] erikwrede commented on #159
I can not reproduce this with `graphene-sqlalchemy==3.0.0b1`. If this is still relevant, please open a new issue including a minimal example (SQLAlchemy Model + Graphene-SQLAlchemy types.)
However, I can reproduce that BigInteger is converted to the `graphene.Float` scalar instead of the `Integer` scalar. I have added this to the notes in #345.

[2022-05-15 12:15] #159 closed

[2022-05-15 12:32] erikwrede commented on #119
You could use `schema.execute(gql_query,variable_values)` on your graphene schema to internally use your queries and mutations.
More info: https://docs.graphene-python.org/en/latest/execution/execute/

[2022-05-15 12:32] #119 closed

[2022-05-15 12:45] erikwrede commented on #103
Picking this up again since we recently pushed forward the use of type annotations for the generation of sqlalchemy-schema fields (https://github.com/graphql-python/graphene-sqlalchemy/pull/340).

It is still in evaluation, since supporting `NonNull` would require sound contracting of return types as `Optional[T]` in the type hint if they're nullable and make them `NonNull` by default which is a d

[2022-05-15 12:54] erikwrede commented on #161
Might be related to #301

[2022-05-15 12:56] erikwrede commented on #300
I'm closing this since everything seems to be resolved. If there's any remaining questions, feel free to reply or open a new issue 😄.

[2022-05-15 12:56] #300 closed

[2022-05-15 13:11] erikwrede commented on #96
Since  #78 and #98 are merged, I expect this problem to be fixed.
@annshress, I don't know what you are referring to with `if...else if`. If your problem persists, please open a new issue, including an example of your Models. 🙂

[2022-05-15 13:11] #96 closed

[2022-05-16 10:17] #130 closed

[2022-05-16 10:23] erikwrede commented on #97
I'm closing this issue since it is almost 5 years old. Documentation needs to be updated, as mentioned in other issues. If you still have problems, feel free to open a new issue.

[2022-05-17 15:19] conao3 commented on #334
the environment is located on the different location so I cannot check the environment.
Close at this time, I'll open this issue I can confirm issue. Thanks both!

[2022-05-17 15:19] #334 closed

[2022-05-23 10:50] erikwrede commented on #271
I am closing this issue because it hasn't seen much activity. If you have any remaining questions, please open a new issue including a minimal example of what you're trying to achieve.

[2022-05-23 10:50] #271 closed

[2022-05-23 10:54] erikwrede commented on #262
Maybe `column_property`s (https://docs.sqlalchemy.org/en/14/orm/mapped_sql_expr.html#using-column-property) are a better fit here?
Adding aggregation support to the entire schema is a complex effort, especially with all the different scenarios that could be supported. If you or anyone else seeing this issue sees the need for this library to implement that feature, please open a design discussion i

[2022-05-23 10:54] #262 closed

[2022-05-26 02:30] sfc-gh-adlee opened #351 "ImportError: cannot import name 'get_default_backend' from 'graphql'"
I keep getting a ImportError: cannot import name 'get_default_backend' from 'graphql'

Installed pip install "graphene-sqlalchemy>=2.0"

[2022-05-26 08:32] erikwrede commented on #351
Could you please post your graphene & graphql-core versions and the exact SQLAlchemy version that was installed? 🙂

[2022-05-27 17:45] jaredculp commented on #304
Bump on the question above. Could this fix be released to the 2.x branch?

[2022-05-28 05:05] erikwrede commented on #304
@jaredculp What is your blocker for upgrading to graphene 3 (apart from the SQLAlchemy beta status, which is now actively being brought towards release)?

I'm asking because focusing on backporting will reduce my time for working on the 3.0 release, so unless there's a compelling reason, I sadly cannot focus on more versions than 3.0.
But as stated before, I'd welcome and support any efforts on ba

[2022-06-09 14:39] #293 closed

[2022-06-28 14:31] erikwrede commented on #247
Will try this out while testing [graphene#1428](https://github.com/graphql-python/graphene/pull/1428)

[2022-07-13 09:41] Baddhizm commented on #291
Сan't reproduce situation when this case is needed

[2022-07-13 09:42] Baddhizm commented on #291
Сan't reproduce situation when this case is needed

[2022-07-13 09:42] #291 closed

[2022-07-15 08:40] #336 closed

[2022-07-17 07:37] fregataa opened #354 "Apply linting or formatting tool to all source code"
Let's apply a linting or formatting tool such as [black](https://github.com/psf/black) or [yapf](https://github.com/google/yapf) for better readability.
I guess we need another requirements config file or just add another config option in setup.py if we apply one of them.

[2022-07-17 08:13] erikwrede commented on #354
Will add black after some other PRs are merged to not create a mess there. Plan was to add it via pre-commit!

[2022-07-18 21:24] ddlima-roku commented on #211
@[rdemetrescu](https://github.com/rdemetrescu) great solution - I hope this can be merged into graphene

[2022-08-12 20:29] #325 closed

[2022-08-12 20:33] erikwrede commented on #351
Closing due to inactivity.

[2022-08-12 20:33] #351 closed

[2022-08-12 20:34] erikwrede commented on #335
Implementation is in progress. The main PR will be #357. Please join us on Slack `#graphene-sqlalchemy-filter` if you would like to contribute or have anything to add!

[2022-08-12 20:39] erikwrede commented on #308
The solution is to override the default type converter:
[code]
This needs to be called before your `SQLAlchemyObjectType`s are initialized.

[2022-08-12 20:39] #308 closed

[2022-08-12 20:49] erikwrede commented on #58
Closing this as the implementation of such a feature seems to be possible. It might be handy to add the recipe presented here to the docs/examples. I'll link this in a separate issue. If you feel that this should be a default feature instead of a manual recipe, please comment there :)

[2022-08-12 20:49] #58 closed

[2022-08-12 20:50] erikwrede opened #358 "Document Example to add totalCount to SQLAlchemyConnectionField"
Add an example to the docs to get the total count of items on `SQLAlchemyConnectionField`s.
Recipes presented in #58 could provide a great starting point.

[2022-08-12 20:53] erikwrede commented on #269
Should be fixed in `3.0.0b2`

[2022-08-12 20:53] #269 closed

[2022-08-12 20:59] erikwrede commented on #239
This behavior shouldn't occur anymore when upgrading to Python 3.

[2022-08-12 20:59] #239 closed

[2022-08-12 21:08] erikwrede commented on #205
Can't reproduce. Seems to be fixed!

[2022-08-12 21:08] #205 closed

[2022-08-12 21:09] erikwrede commented on #204
All example are outdated and need to be completely reworked. Closing this.

[2022-08-12 21:09] #204 closed

[2022-08-12 21:20] erikwrede commented on #199
Issue can't be reproduced on `master`. Seems to be fixed.
This issue is 2 years old so I'm closing it.
@squarewave24  if you have found [and still need] a fix for 2.x, I'd happily push another release for the affected version if you open a PR!

[2022-08-12 21:20] #199 closed

[2022-08-12 21:21] erikwrede commented on #180
This is currently unsupported. If anyone needs this feature, feel free to draft your design here. Happy to review any corresponding PRs!

[2022-08-12 21:23] erikwrede commented on #157
Examples will be overhauled in the future.

[2022-08-12 21:23] #157 closed

[2022-08-12 21:25] erikwrede commented on #196
@kurtwiersma if you're still up for that, feel free to go ahead. It's probably best to create a new branch for the old release.

[2022-08-13 08:23] erikwrede commented on #117
Can't reproduce in v3

[2022-08-13 08:23] #117 closed

[2022-08-13 08:25] erikwrede commented on #135
Closing due to inactivity. Enums have changed a lot since 2018 and I expect this implementation to work in the newer versions of graphene.

[2022-08-13 08:25] #135 closed

[2022-08-25 05:35] karol-gruszczyk commented on #348
Thank you for picking this back up!

[2022-09-02 15:10] flipbit03 commented on #35
I've activated `batching = True` on all my graphene-sqlalchemy translated models, and whenever I try to access some relationships, the graphql resolver is failing with "future is attached to a different loop"

This is the GraphQL Query:

[code]

I get an error on the `part` resolver (but also in several other places in the system, basically it's not working correctly in most places)
[code]

[2022-11-28 17:13] #313 closed

[2022-11-28 17:13] erikwrede commented on #313
This was implemented in #365  thanks to @polgfred! Please check out the new documentation 🙂

[2022-11-29 10:29] rrobby86 commented on #257
Using [this](https://docs.sqlalchemy.org/en/14/core/custom_types.html#backend-agnostic-guid-type) custom SQLAlchemy type using UUID objects on Python side, on graphene 3.1.1 and **graphene-sqlalchemy 3.0.0b3** (other versions may differ) I managed to get proper conversion to string without errors adding the following before declaring GraphQL schema (i.e. `SQLAlchemyObjectType` subclasses):

[code]

[2022-11-29 19:05] erikwrede commented on #348
Update: Currently working on getting filtering over the finish line. We would highly appreciate some feedback on the PR bringing support for `AsyncSession`! Please try it out and let us know if you see room for improvement: #350